.grid-view-cont {
    /* margin: 0px auto; */
    text-align: center;
    /* border: 1px solid black; */
    min-width: 300px;
}

.gridView{
    /* border: 1px solid green; */
    align-self: center;
}

.col-cont{
    padding: 10px 10px;
    margin: 10px auto;
    min-width: 300px;
    /* border: 1px solid red; */
}

.col-cont:nth-child(even) {
    background-color: rgb(200, 250, 255);
}
.col-cont:nth-child(odd) {
    background-color: rgb(230, 248, 255);
}

.hr {
    height:2px;
    border-width:0;
    background-color:black;
    color: black;
    border: 3px solid black;
}

@media (max-width:411px)  { 

}
@media (min-width:768px)  { }
@media (max-width:1024px)  { 

}
@media (min-width:1366px)  { 
}
